h2.intro { 
	min-width: 470px;
	width: 100%;
}

p.intro { 
  min-width: 470px;
  width: 100%;
}

img.intro { 
  min-width: 470px;
  width: 100%;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.showBorder {
  display: none;
  border: 4px solid green;
  background-color: yellow;
}